################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/ExampleDonaji/lf_APIs/LiveFree.Beacons.API/.vs/LiveFree.Beacons.API/FileContentIndex/5f5b7300-d997-4c7c-83c6-ac07e15428ac.vsidx
/ExampleDonaji/lf_APIs/LiveFree.Beacons.API/.vs/LiveFree.Beacons.API/FileContentIndex/ae9fa66c-0639-4712-bf84-1a7fe3a2e144.vsidx
/ExampleDonaji/lf_APIs/LiveFree.Beacons.API/.vs/LiveFree.Beacons.API/FileContentIndex/e8d67d2b-19f1-4a77-bb39-a8c2f3ccd166.vsidx
/ExampleDonaji/lf_APIs/LiveFree.Beacons.API/.vs/LiveFree.Beacons.API/FileContentIndex/f7a41773-9be8-4360-8df5-d5506703826c.vsidx
/ExampleDonaji/lf_APIs/LiveFree.Beacons.API/.vs/LiveFree.Beacons.API/FileContentIndex
/ExampleDonaji/lf_APIs/LiveFree.Beacons.API/.vs/LiveFree.Beacons.API/v17/.suo
